<div class="wrap">
	<div class="postbox-container" style="width:73%;margin-right:2%;">	
    <h1>Manage Your Mailing List</h1>

    <?php if($error):?>
        <p class="error"><?php echo $err_msg;?></p>
    <?php endif;?>

    <form method="post" style="margin:none;" onsubmit="return validateUser(this);">
    <div style="clear:both;float:left;">
        <div style="float:left;">Email: <input type="text" name="email"> 
        &nbsp; Name: <input type="text" name="name"> 
        &nbsp; <input type="checkbox" name="status" value="1" checked="checked"> Active 
        <input type="submit" value="Add User"></div>
    </div>
    <input type="hidden" name="add_user" value="1">
    </form>

    <?php foreach($users as $user): ?>
    <form method="post" style="margin:none;" onsubmit="return validateUser(this);">
    <div style="clear:both;float:left;">
        <div style="float:left;">Email: <input type="text" name="email" value="<?=$user->email?>"> 
        &nbsp; Name: <input type="text" name="name" value="<?=$user->name?>"> 
        &nbsp; IP: <?=$user->ip?>
        &nbsp; Date: <?=$user->date?>	
        &nbsp; <input type="checkbox" name="status" value="1" <?if($user->status) echo "checked"?>> Active 
        <input type="submit" name="save_user" value="Save User">	
        <input type="button" value="Delete" onclick="delUser(this.form);"></div>
    </div>
    <input type="hidden" name="del_user" value="0">
    <input type="hidden" name="id" value="<?=$user->id?>">
    </form>
    <?php endforeach; ?>
  </div>
	<div id="bft-sidebar">
				<?php require(BFT_PATH."/views/sidebar.html");?>
	</div>	  
</div>

<script language="javascript">
function delUser(frm)
{
	if(confirm("Are you sure?"))
	{
		frm.del_user.value=1;
		frm.submit();
	}
}

function validateUser(frm)
{
	if(frm.email.value=="")
	{
		alert("Please enter email");
		frm.email.focus();
		return false;
	}
	
	return true;
}
</script>