<style type="text/css">
.bft-sidebox
{
	border:1px solid black;
	padding:10px;
	margin-bottom: 20px;
}

#bft-sidebar
{
	float:left;
	width:25%;
}

#bft-related, #watu-ad
{
	background-color: #BBEEDD;
}
</style>

<div id="bft-ad" class="bft-sidebox">
	<h3><?php _e('Help To Spread The Word!', 'bft')?></h3>
	
	<p><?php _e('If you like this plugin you can do some of the following:', 'bft')?></p>
	
	<ol>
		<li><a href="http://wordpress.org/extend/plugins/bft-autoresponder/" target="_blank"><?php _e('Rate it 5 starts at Wordpress.org', 'bft')?></a></li>
		<li><?php _e('Let others know about it by blogging or posting', 'bft')?> <a href="http://calendarscripts.info/autoresponder-wordpress.html" target="_blank"><?php _e('our home page', 'bft')?></a> <?php _e('on social networks.', 'bft')?></li>
		<li><a href="http://calendarscripts.info/bft-pro/" target="_blank"><?php _e('Go PRO', 'bft')?></a> <?php _e('to empower your site with extra benefits', 'bft')?></li>
	</ol>
</div>

<div id="bft-help" class="bft-sidebox">
	<h3><?php _e('Need Support?', 'bft')?></h3>
	
	<p><?php _e('Please ask your question in the', 'bft')?> <a href="http://wordpress.org/support/plugin/bft-autoresponder" target="_blank"><?php _e('support forum at Wordpress.', 'bft')?></a></p>
	
	<p><?php _e("If you don't have an account there you can open a discussion at", 'bft')?> <a href="http://calendarscripts.info/forum/" target="_blank"><?php _e('CalendarScripts forum', 'bft')?></a> <?php _e('as well.', 'bft')?></p>
</div>

<div id="bft-related" class="bft-sidebox">
	<h3><?php _e('Go PRO!', 'bft')?></h3>
	
	<p><?php _e('Get more powerful features by', 'bft')?> <a href="http://calendarscripts.info/bft-pro/" target="_blank"><?php _e('upgrading to the PRO version:', 'bft')?></a></p>
	
	<ol>
		<li><strong><?php _e('Multiple mailing lists', 'bft')?></strong>. <?php _e('Each one can be assigned to multiple auto responder campaigns.', 'bft')?></li>
		<li><strong>Multiple auto-responder marketing campaigns</strong></li>
		<li><strong>Differen email types:</strong> sequential emails, fixed date emails, weeday messages, repeatable mails</li>
		<li><strong>Send newsletters</strong> to selected mailing list(s)</li>
		<li><strong>Widgets, shortcodes and template tags</strong> to embed your signup form easily</li>
		<li><strong>Optional reCaptcha</strong> to preven spam submissions</li>
		<li><strong>Fine-tune the number of emails</strong> that will be sent at once, and per day.</li>
		<li><strong>Localization-ready</strong> with translation .po files</li>
		<li><strong>Unlimited domains license</strong> for domains you own</li>
		<li><?php _e('And a lot more - just come to see!', 'bft')?></li>
	</ol>
	
	<p><?php _e('Just go ahead and', 'bft')?> <a href="http://calendarscripts.info/bft-pro/tour.html" target="_blank"><?php _e('take the tour', 'bft')?></a> <?php _e('or check the', 'bft')?> <a href="http://calendarscripts.info/bft-pro/demo.html" target="_blank"><?php _e('online demo.', 'bft')?></a></p>
	
	<p><?php _e('Upgrading to PRO comes with 60 days money-back guarantee, one year free upgrades and one year free support.', 'bft')?></p>
</div>